html{
    background-color: rgb(59, 59, 59);
    display: flex;
    align-items: center;
    color: white;
    margin-left: 30px;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    border: 1px solid rgb(199, 198, 198);
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 40px;
    box-shadow:  2px 5px 0px white , 0px 1px 10px 0px white , 0px 2px 4px -1px white
}
.image-container img{
    padding-top: 10px;
    width: 350px;
    height: 200px;
    border-radius: 10px;
}
button{
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    width: 100px;
    border-radius: 25px;
    background: linear-gradient(290deg, rgb(69, 94, 49) 0%, rgb(189, 185, 189) 100%);
}
.rating-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
